<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.layoa.role.dao.RoleDao">
	<sql id="role_base">
		SELECT ROW_ID,ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO FROM TB_ROLE
	</sql>
	<sql id="role_base_column">
		ROW_ID,ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO 
	</sql>
	
	<sql id="column_fragement">
		<if test="roleCode!=null">
			ROLE_CODE,
		</if>
		<if test="roleName!=null">
			ROLE_NAME,
		</if>
		<if test="roleKind!=null">
			ROLE_KIND,
		</if>
		<if test="roleInfo!=null">
			ROLE_INFO,
		</if>
	</sql>
	<!-- Values语句 -->
	<sql id="values_fragement">
		<if test="roleCode!=null">
			#{roleCode},
		</if>
		<if test="roleName!=null">
			#{roleName},
		</if>
		<if test="roleKind!=null">
			#{roleKind},
		</if>
		<if test="roleInfo!=null">
			#{roleInfo},
		</if>
	</sql>
	<insert id="save" parameterType="Role" useGeneratedKeys="true" keyProperty="rowId" keyColumn="ROW_ID">
		INSERT INTO tb_role (ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO) VALUES (#{roleCode},#{roleName},#{roleKind},#{roleInfo})
	</insert>

	<select id="findByRoleName" resultType="Role">
		SELECT ROW_ID FROM TB_ROLE WHERE ROLE_NAME=#{roleName}
	</select>
	<select id="find" resultType="Role">
		SELECT ROW_ID,ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO FROM TB_ROLE
	</select>
	<select id="getCount" resultType="java.lang.Integer">
		SELECT COUNT(ROW_ID)FROM TB_ROLE
		<include refid="search_fragement"></include>
	</select>
	<select id="get" resultType="Role">
		<include refid="role_base" />
		WHERE ROW_ID = #{rowId}
	</select>
	<select id="findByPage" resultType="Role">
		<include refid="role_base" />
		<include refid="search_fragement" />
		LIMIT #{pagination.firstResult},#{pagination.maxResults}
	</select>
	<sql id="search_fragement">
		<if test="searchParam!=null">
			<if test="searchParam.rowId!=null">
				AND ROW_ID=#{searchParam.rowId}
			</if>
			<if test="searchParam.roleCode!=null">
				AND ROLE_CODE=#{searchParam.roleCode}
			</if>
			<if test="searchParam.roleName!=null">
				AND ROLE_NAME=#{searchParam.roleName}
			</if>
			<if test="searchParam.roleKind!=null">
				AND ROLE_KIND=#{searchParam.roleKind}
			</if>
			<if test="searchParam.roleInfo!=null">
				AND ROLE_INFO=#{searchParam.roleInfo}
			</if>
		</if>
	</sql>

	<update id="update" parameterType="Role">
		UPDATE TB_ROLE
		<set>
		<if test="roleCode!=null">
				ROLE_CODE = #{roleCode},
			</if>
			<if test="roleName!=null">
				ROLE_NAME = #{roleName},
			</if>
			
			<if test="roleKind!=null">
				ROLE_KIND = #{roleKind},
			</if>
			<if test="roleInfo!=null">
				ROLE_INFO = #{roleInfo},
			</if>
		</set>
		WHERE ROW_ID = #{rowId}
	</update>
	<delete id="delete">
		DELETE FROM TB_ROLE WHERE ROW_ID = #{rowId}
	</delete>
</mapper>