<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.layoa.role.dao.RoleDao">
	<insert id="add" parameterType="Role" useGeneratedKeys="true" keyProperty="rowId" keyColumn="ROW_ID">
		INSERT INTO tb_role (ROLE_CODE,ROLE_NAME,ROLE_KIND,ROLE_INFO) VALUES (#{roleCode},#{roleName},#{roleKind},#{roleInfo})
	</insert>
	
	<select id="findByRoleName" resultType="Role">
 		SELECT ROW_ID FROM TB_ROLE WHERE ROLE_NAME=#{roleName}
 	</select>
</mapper>